<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.storywatpad">



    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoryWatpad"
        tools:targetApi="31">

        <activity
            android:exported="false"
            android:name=".view.StoryDetailActivity" />
        <activity
            android:exported="false"
            android:name=".view.RegisterActivity" />
        <activity
            android:exported="false"
            android:name=".view.SearchActivity" />
        <activity
            android:exported="false"
            android:name=".view.MainActivity" />
        <activity
            android:exported="false"
            android:name=".view.ProfileActivity" />
        <activity
            android:exported="false"
            android:name=".view.ForgetPasswordActivity" />
        <activity
            android:exported="false"
            android:name=".view.ChangePasswordActivity" />

        <activity
            android:exported="false"
            android:name=".view.ChangeProfileActivity" />

        <activity
            android:exported="false"
            android:name=".view.AdminPageActivity" />
        <activity
            android:exported="false"
            android:name=".view.AccountManageActivity" />
        <activity
            android:exported="false"
            android:name=".view.StoryManageActivity" />
        <activity
            android:exported="false"
            android:name=".view.StatisticActivity" />
        <activity
            android:exported="true"
            android:name=".view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
